/*  your css code here. If applicable */
*{
	margin-top:10px;
	padding:0;
	box-sizing:border-box;
}
input{
	width:100%;
}
#submit{
	background-color:blue;
	color:white;
	padding:5px;
}
.table thead tr th{
	
	padding-right:150px
}
.clear{
	background-color:red;
	border-radius:3px;
	padding:2px 4px;
}



